In [13]:
from User_defined_Data_loader import DataLoader
from scipy.stats import ttest_ind,ttest_1samp,ttest_rel

dl = DataLoader("restaurant_data.csv")
restaurant_data = dl.read_data()

In [2]:
restaurant_data.head()

,Name,Location,Cuisine,Rating,Seating Capacity,Average Meal Price,Marketing Budget,Social Media Followers,Chef Experience Years,Number of Reviews,Avg Review Length,Ambience Score,Service Quality Score,Parking Availability,Weekend Reservations,Weekday Reservations,Revenue
0,Restaurant 0,Rural,Japanese,4.0,38,73.98,2224,23406,13,185,161.924906,1.3,7.0,Yes,13,4,638945.52
1,Restaurant 1,Downtown,Mexican,3.2,76,28.11,4416,42741,8,533,148.759717,2.6,3.4,Yes,48,6,490207.83
2,Restaurant 2,Rural,Italian,4.7,48,48.29,2796,37285,18,853,56.849189,5.3,6.7,No,27,14,541368.62
3,Restaurant 3,Rural,Italian,4.4,34,51.55,1167,15214,13,82,205.433265,4.6,2.8,Yes,9,17,404556.80
4,Restaurant 4,Downtown,Japanese,4.9,88,75.98,3639,40171,9,78,241.681584,8.6,2.1,No,37,26,1491046.35

# 1. Parametric Statistical Hypothesis Tests

#### Statistical Test for comaparison between data samples.

## 1.1 One Sample T-Test
mean of a sample is significantly different from a known population mean

#### H0: the mean of sample and population are Same .
#### H1: the mean of sample and population are not Same.

In [3]:
def one_sample_ttest(data,numeric_column):
    sample_data = data[numeric_column].sample(500)
    population_mean = data[numeric_column].mean()
    t_static_value,p_value = ttest_1samp(sample_data,population_mean)
    print('t-static-value = {0:.3f}, p_value={0:.3f}'.format(t_static_value,p_value))
    if p_value>0.05:
        print('Propably the mean of sample and population are same')
    else:
        print('Propably the mean of sample and population are not same')

In [4]:
one_sample_ttest(restaurant_data,numeric_column='Revenue')

t-static-value = 1.108, p_value=1.108
Propably the mean of sample and population are same

## 1.2 Two Sample T-Test
Average Between two data samples are significantly different.

#### H0: the mean between two groups are equal .
#### H1: the mean between two groups are not equal.

In [9]:
def two_sample_ttest(numeric_column,category_column,data):
    groups = data[category_column].unique().tolist()
    group1 = data[data[category_column]==groups[0]][numeric_column]
    group2 = data[data[category_column]==groups[1]][numeric_column]
    t_static_value, p_value = ttest_ind(group1, group2)
    print('stat={0:.3f}, p={0:.3f}'.format(t_static_value, p_value))
    if p_value > 0.05:
        print('Probably means between 2 groups are equal')
    else:
        print('Probably means between 2 groups are not equal')

In [10]:
two_sample_ttest(numeric_column='Revenue',category_column='Location',data=restaurant_data)

stat=-74.042, p=-74.042
Probably means between 2 groups are not equal

## 1.3 Two sampled Paired t-test
A paired samples t-test is used to find the 2 means between the old and New values of the Features.

#### H0: mean old and new values are equal.
#### H1: mean old and new values are not equal.

In [15]:
def paired_ttest(numeric_column,category_column,data):
    groups = data[category_column].unique().tolist()
    new = data[data[category_column]==groups[0]][numeric_column].sample(500)
    old = data[data[category_column]==groups[1]][numeric_column].sample(500)
    t_static_value, p_value = ttest_rel(new, old)
    print('stat={0:.3f}, p={0:.3f}'.format(t_static_value, p_value))
    if p_value > 0.05:
        print('Probably means of old and new sample data are equal')
    else:
        print('Probably means of old and new sample data are not equal')

In [16]:
paired_ttest(data=restaurant_data,numeric_column='Revenue',category_column='Location')

stat=-30.140, p=-30.140
Probably means of old and new sample data are not equal